This is an open source SPA web app that lets users do do various transforms on files.
Everything should be run on the client side using js or wasm packages. Prefer wasm where available.

The stack is:
Tanstack routers for file based routing
React 19
Sentry for error reporting
Vite for bundling
Cloudflare worker for hosting/deployment
Shadcn for UI components and Tailwindcss for CSS

The purpose of the app is to provide non tech savvy users a simple browser based offline available tool to complete various tasks that a software expert could do with a CLI and various open source software. We will primarily focus on things that can be achieved with imagemagick and ffmpeg. The tool should provide a easy to use, sleek and well though out UI/UX experience.

# shadcn instructions

Use the latest version of Shadcn to install new components, like this command to add a button component:

```bash
pnpx shadcn@latest add button
```
